:host ::ng-deep .p-card-body {
    margin: 65px;
    padding: 2.5rem;
}

:host ::ng-deep .rightButton {
    float: right;
}

:host ::ng-deep .p-card .p-card-title {
    text-align: center;
    margin-bottom: 1.5rem !important;
}

:host ::ng-deep .p-card .p-card-footer {
    display: contents;
}

.col-4 {
    align-content: start;
    display: grid;
    margin-bottom: 15px;
}

label {
    margin-bottom: 2px;
}

.row {
    padding: 15px;
}