
<div class="container p-4">
    <h4 style="text-align: center;">Cleaning Services History</h4>

    <p-table [value]="cleaningServices" [paginator]="true" [rows]="10" responsiveLayout="scroll"
    [rowsPerPageOptions]="[10,25,50]" selectionMode="single" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header">
        <tr>
            <th>Cleaning Type</th>
            <th>Total</th>
            <th>Date</th>
            <th>Hour</th>
            <th>Frequency</th>
            <th>Home Access</th>
            <th>Square Meters</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cleaningService>
        <tr [pSelectableRow]="cleaningService" style="cursor: pointer;">
            <td>{{cleaningService.type}}</td>
            <td>{{cleaningService.total}}</td>
            <td>{{cleaningService.cleaningDate.cleaningDate}}</td>
            <td>{{cleaningService.cleaningDate.cleaningHour}}</td>
            <td>{{cleaningService.cleaningFrequency}}</td>
            <td>{{cleaningService.cleaningDetails.homeAccess}}</td>
            <td>{{cleaningService.cleaningDetails.squareMeters}}</td>
        </tr>
    </ng-template>
</p-table>
</div>

