.col-4 {
    display: grid;
}

.section {
    .row {
        margin: 15px 20px 0px 20px;
    }
    padding: 15px;
}

h4{
    font-size: 22px;
}

label {
    margin-bottom: 4px;
}

.firstRow {
    margin-bottom: 30px;
}

:host ::ng-deep .p-button {
    margin-right: 10px;
}

.end-service {
    background: #f60404;
}

a{
    cursor: pointer;
    text-decoration: underline !important;
    color: #3b8bb3 !important;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    white-space: nowrap;
    text-align: center;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
    font-size: 14px;
    vertical-align: top;
    padding-top: 20px;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background: none;
    border-width: 0 0 2px 0;
}

:host ::ng-deep .p-inputtextarea {
    float: right;
}

.required-star {
    color:red;
}

.required-err-message {
    color: red;
    contain: size;
    text-align: right;
}

.table {
    padding: 15px;
}