<div class="container p-4 mb-5" *ngIf="cleaningService">
    <div class="mb-5 row">
        <div class="col-6">
            <button pButton pRipple type="button" (click)="back()" class="p-button-outlined p-button-rounded back-button" icon="pi pi-arrow-left"></button>
        </div>

        <h3 class="text-center mt-3">Cleaning Service Details</h3>
    </div>

    <div class="section">
        <h4>Space Details</h4>
        <div class="row">
            <div class="col-4" *ngFor="let property of getProperties(); let i = index" [attr.data-index]="i"
            [ngClass]="{'firstRow': i<3}">
                <label>{{getLabelForProperty(property)}}</label>
                <b>{{cleaningService.cleaningDetails[property]}}</b>
            </div>
        </div>
    </div>

    <div class="section">
        <h4>Client Information</h4>
        <div class="row">
            <div class="col-4">
                <label>First Name</label>
                <b>{{ cleaningService.contactInfo.firstName }}</b>
            </div>
            <div class="col-4">
                <label>Last Name</label>
                <b>{{ cleaningService.contactInfo.lastName }}</b>
            </div>
            <div class="col-4">
                <label>Email Address</label>
                <b>{{ cleaningService.contactInfo.email }}</b>
            </div>
        </div>
    
        <div class="row">
            <div class="col-4">
                <label>Phone Number</label>
                <b>{{ cleaningService.contactInfo.phoneNumber }}</b>
            </div>
            <div class="col-4">
                <label>County</label>
                <b>{{ cleaningService.location.county }}</b>
            </div>
            <div class="col-4">
                <label>City</label>
                <b>{{ cleaningService.location.city }}</b>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label>Street Address</label>
                <b>{{ cleaningService.location.address }}</b>
            </div>
        </div>
    </div>

    <div class="section">
        <h4>Payment Details</h4>
        <div class="row">
            <div class="col-3">
                <label>Cleaning Type</label>
                <b>{{cleaningService.type}}</b>
            </div>
            <div class="col-3">
                <label>Frequency</label>
                <b>{{cleaningService.frequency}}</b>
            </div>
            <div class="col-3">
                <label>Total</label>
                <b>{{cleaningService.total}} $</b>
            </div>
            <div class="col-3">
                <label>Payment Method</label>
                <b>{{cleaningService.payment}}</b>
            </div>
        </div>
    </div>

    <div class="section">
        <app-messages-history
            [id]="id"
            [messages]="cleaningService.messages"
        ></app-messages-history>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>