.col-4 {
    display: grid;
}

.row {
    padding: 15px;
}

.section {
    padding: 15px;
}


label {
    margin-bottom: 4px;
}

.firstRow {
    margin-bottom: 30px;
}

:host ::ng-deep .p-card .p-card-content {
    padding: 1.25rem 40px;
}