<div class="container p-4 mb-5" *ngIf="cleaningService">
    <div class="row" *ngIf="canServiceBeEdited">
        <div class="col-12 text-end">
            <button pButton type="button" label="Reschedule"></button>
            <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

            <button class="end-service p-button-danger" (click)="confirm()" pButton label="End Service"></button>
        </div>
    </div>

    <div class="row" *ngIf="canFinishService">
        <div class="col-12 text-end">
            <button type="button" (click)="finishService()" pButton label="Finish Service"></button>
        </div>
    </div>

    <div class="section">
        <h4>Space Details</h4>
        <div class="row">
            <div class="col-4" *ngFor="let property of getProperties(); let i = index" [attr.data-index]="i"
            [ngClass]="{'firstRow': i<3}">
                <label>{{getLabelForProperty(property)}}</label>
                <b>{{cleaningService.cleaningDetails[property]}}</b>
            </div>
        </div>
    </div>

    <div class="section" *ngIf="displayCleaningDate">
        <h4>Cleaning Date</h4>
        <div class="row">
            <div class="col-4">
                <label>Cleaning Date</label>
                <b>{{ cleaningDate }}</b>
            </div>
            <div class="col-4">
                <label>Cleaning Hour</label>
                <b>
                    {{ cleaningService.cleaningDate.startingHour === 9 ? '09:00 - ' : cleaningService.cleaningDate.startingHour + ':00 - ' }}
                    {{ cleaningService.cleaningDate.finishingHour + ':00' }}
                </b>
            </div>
            <div class="col-4" *ngIf="cleaningService.cleaningFrequency">
                <label>Cleaning Frequency</label>
                <b>{{ cleaningService.cleaningFrequency }}</b>
            </div>
        </div>
    </div>

    <div class="section">
        <h4>Client Information</h4>
        <div class="row">
            <div class="col-4">
                <label>First Name</label>
                <b>{{ cleaningService.contactInfo.firstName }}</b>
            </div>
            <div class="col-4">
                <label>Last Name</label>
                <b>{{ cleaningService.contactInfo.lastName }}</b>
            </div>
            <div class="col-4">
                <label>Email Address</label>
                <b>{{ cleaningService.contactInfo.email }}</b>
            </div>
        </div>
    
        <div class="row">
            <div class="col-4">
                <label>Phone Number</label>
                <b>{{ cleaningService.contactInfo.phoneNumber }}</b>
            </div>
            <div class="col-4">
                <label>County</label>
                <b>{{ cleaningService.location.county }}</b>
            </div>
            <div class="col-4">
                <label>City</label>
                <b>{{ cleaningService.location.city }}</b>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label>Street Address</label>
                <b>{{ cleaningService.location.address }}</b>
            </div>
        </div>
    </div>

    <div class="section">
        <h4>Payment Details</h4>
        <div class="row">
            <div class="col-4">
                <label>Total</label>
                <b>{{cleaningService.total}} $</b>
            </div>
            <div class="col-4">
                <label>Payment Method</label>
                <b>{{cleaningService.paymentMethod}}</b>
            </div>
        </div>
    </div>

    <div class="section" *ngIf="canDisplayHistory">
        <a (click)="displayHistory()">Display History of Cleaning Dates</a>
    </div>
    <div class="section" *ngIf="displayHistoryOfCleaningDates">
        <h4>History of Cleaning Dates</h4>
        <span *ngIf="datesOfCleaning.length === 0">
            No Cleaning Date History
        </span>
        <div class="row" *ngFor="let dateOfCleaning of datesOfCleaning; let i = index">
            <div class="col-4">
                <label>Cleaning Date</label>
                <b>{{ dateOfCleaning.cleaningDate }}</b>
            </div>
            <div class="col-4">
                <label>Cleaning Hour</label>
                <b>
                    {{ dateOfCleaning.startingHour === 9 ? '09:00 - ' : dateOfCleaning.startingHour + ':00 - ' }}
                    {{ dateOfCleaning.finishingHour + ':00' }}
                </b>
            </div>
        </div>
    </div>
</div>
