.col-12{
    display: grid;
    padding-bottom: 10px;
}

.col-4 {
    padding-left: 0;
    padding-right: 0;
}

.align-right {
    text-align: right;
}

.row {
    margin: 15px 60px 0 60px;
}

.required-star {
    color:red;
}

.required-err-message {
    color: red;
    contain: size;
}

:host ::ng-deep .rightButton {
    float: right;
}

:host ::ng-deep .p-inputtext{
    width: 100%;
}

:host ::ng-deep .p-dropdown {
    width: 90%;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    text-align: initial;
}

label {
    margin-bottom: 5px;
}