<div class="container">
    <div style="text-align: right;">
        <button *ngIf="selectButton.value && canCancelCleaningService"
            class="p-button-danger"
            (click)="onCancel()"
            pButton
            pRipple
            label="Cancel Service">
        </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="row">
            <div class="col-12">
                <h2>Choose date to reschedule</h2>
                <div class="datesToReschedule">
                    <p-selectButton #selectButton [options]="datesToReschedule" optionDisabled="wasRescheduled" formControlName="dateToReschedule">
                        <ng-template let-item>
                            <ng-container
                                *ngIf="item.wasRescheduled; then wasRescheduled; else wasNotRescheduled">
                            </ng-container>
                            <ng-template #wasRescheduled>
                                <label pTooltip="This date has already been rescheduled. You can't rescheduled it anymore." tooltipPosition="top">{{item.date}}</label>
                            </ng-template>
                            <ng-template #wasNotRescheduled>
                                <label>{{item.date}}</label>
                            </ng-template>
                        </ng-template>
                    </p-selectButton>
                    <small class="p-error" 
                    *ngIf="(form.get('dateToReschedule')?.touched && 
                            form.get('dateToReschedule')?.errors?.['required']) ||
                            form.get('dateToReschedule')?.hasError('missing')"
                    >The field is required</small>
                </div>
            </div>
            <div class="col-12">
                <app-cleaning-date 
                    [minDate] = "minDate"
                    [maxDate] = "maxDate"
                    [employeesDayAgenda]="employeesDayAgenda"
                    [timeEstimation]="timeEstimation"
                ></app-cleaning-date>
            </div>
        </div>
        <div class="text-center">
            <button pButton pRipple type="submit" label="Reschedule"></button>
        </div>
    </form>
</div>