<p-panel [toggleable]="false" class="no-borders">
    <ng-template pTemplate="header">
        <h2>Cleaning Date</h2>
    </ng-template>
    <ng-template pTemplate="content">
        <ng-container [formGroup]="cleaningDateForm">
            <div formGroupName="cleaning_date">
                <div class="row mt-2">
                    <div class="col-6 p-3 controls">
                        <p-calendar *ngIf="!minDate && !maxDate"
                            formControlName="cleaningDate"
                            [showIcon]="true"
                            [minDate]="minimumDate"
                            dateFormat="yy-mm-dd"
                            dataType="string">
                        </p-calendar>
                        <p-calendar *ngIf="minDate"
                            formControlName="cleaningDate"
                            [showIcon]="true"
                            [minDate]="minDate"
                            [maxDate]="maxDate"
                            dateFormat="yy-mm-dd"
                            dataType="string">
                        </p-calendar>
                        <span class="required-err-message" 
                            *ngIf="(cleaningDateForm.get('cleaning_date').get('cleaningDate')?.touched && 
                                    cleaningDateForm.get('cleaning_date').get('cleaningDate')?.errors?.required) ||
                                    cleaningDateForm.get('cleaning_date').get('cleaningDate').hasError('missing')"
                            >The field is required</span>
                    </div>

                    <div class="col-6 p-3 controls">
                        <p-dropdown 
                            [options]="availableHours" 
                            optionLabel="label"
                            placeholder="Select an available hour"
                            [showClear]="true"
                            formControlName="hour">
                        </p-dropdown>
                        <span class="required-err-message" 
                        *ngIf="(cleaningDateForm.get('cleaning_date').get('hour')?.touched && 
                                cleaningDateForm.get('cleaning_date').get('hour')?.errors?.required) ||
                                cleaningDateForm.get('cleaning_date').get('hour').hasError('missing')"
                        >The field is required</span>
                    </div>

                    <div class="col-12 p-3">
                        <p-divider></p-divider>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-template>
</p-panel>
