<p-panel [toggleable]="false" class="no-borders">
    <ng-template pTemplate="header">
        <h2>Contact Information</h2>
    </ng-template>
    <ng-template pTemplate="content">
        <ng-container [formGroup]="contactInfoForm">
            <div formGroupName="contact_info">
                <div class="row mt-2 pl-3">
                    <div class="col-6 p-3 controls">
                        <label>First Name<span class="required-star">*</span></label>
                        <input type=text pInputText placeholder="First Name" formControlName=firstName trim="blur">
                        <small class="p-error" 
                        *ngIf="(contactInfoForm.get('contact_info').get('firstName')?.touched && 
                                contactInfoForm.get('contact_info').get('firstName')?.errors?.required) ||
                                contactInfoForm.get('contact_info').get('firstName').hasError('missing')"
                        >The field is required</small>
                    </div>
                    
                    <div class="col-6 p-3 controls">
                        <label>Last Name<span class="required-star">*</span></label>
                        <input type=text pInputText placeholder="Last Name" formControlName=lastName trim="blur">
                        <small class="p-error" 
                        *ngIf="(contactInfoForm.get('contact_info').get('lastName')?.touched && 
                                contactInfoForm.get('contact_info').get('lastName')?.errors?.required) ||
                                contactInfoForm.get('contact_info').get('lastName').hasError('missing')"
                        >The field is required</small>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-6 p-3 controls">
                        <label>Email Address<span class="required-star">*</span></label>
                        <input type=text pInputText placeholder="Email" formControlName=email trim="blur">
                        <small class="p-error" 
                        *ngIf="(contactInfoForm.get('contact_info').get('email')?.touched && 
                                contactInfoForm.get('contact_info').get('email')?.errors?.required) ||
                                contactInfoForm.get('contact_info').get('email').hasError('missing')"
                        >The field is required</small>
                    </div>
        
                    <div class="col-6 p-3 controls">
                        <label>Phone Number<span class="required-star">*</span></label>
                        <p-inputMask placeholder="Phone Number" mask="9999 999 999" formControlName=phoneNumber></p-inputMask>
                        <small class="p-error" 
                        *ngIf="(contactInfoForm.get('contact_info').get('phoneNumber')?.touched && 
                                contactInfoForm.get('contact_info').get('phoneNumber')?.errors?.required) ||
                                contactInfoForm.get('contact_info').get('phoneNumber').hasError('missing')"
                        >The field is required</small>
                    </div>
                    
                    <div class="col-12 p-3">
                        <p-divider></p-divider>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-template>
</p-panel>
