.p-toast-message.p-toast-message-error {
    border-radius: 20px;
}

.p-toast-message.p-toast-message-success {
    border-radius: 20px;
}

.p-toast-top-right {
    top: 75px !important;
    width: 30%;
}