.col-4 , .col-8 {
    display: grid;
}

.row {
    padding: 15px;
}

.section {
    padding: 15px;
}

.controls {
    display: grid;
}

.control {
    padding-top: 10px;
}

.required-star {
    color:red;
}

.required-err-message {
    color: red;
    contain: size;
}

.label-title {
    font-size: 20px;
    color: #4c4e50;
}

label {
    margin-bottom: 4px;
}

:host ::ng-deep .p-toast-top-right {
    top: 75px !important;
    width: 30%;
}

:host ::ng-deep .p-toast-message.p-toast-message-error {
    border-radius: 20px;
}

:host ::ng-deep .p-toast-message.p-toast-message-success {
    border-radius: 20px;
}

:host ::ng-deep .p-card .p-card-content {
    padding: 1.25rem 40px;
}