<h1>{{title}}</h1>
<div class="mt-5 container">
    <div class="mt-5 row">
        <div class="col-8">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <app-office-space-details></app-office-space-details>
                <app-office-space-type></app-office-space-type>
                <app-contact-info></app-contact-info>
                <app-location-of-house></app-location-of-house>

                <div class="row">
                    <div class="col-12 p-5" style="text-align: center;">
                        <button pButton pRipple type="submit" label="Request a Quote"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<p-toast position="top-right"></p-toast>
