<div class="container" style="margin-bottom: 90px;">
    <div class="row p-4" *ngIf="cleaningPrices">
        <div class="col-12">
            <div class="row section">
                <div class="col-9">
                    <b>Standard Cleaning Prices</b>
                    <div class="row">
                        <div class="col-4">
                            <span>Service Price:</span>
                        </div>
                        <div class="col-8">
                            <label>{{cleaningPrices.standardCleaningPrices.standardServicePrice}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span>Bedroom Price:</span>
                        </div>
                        <div class="col-8">
                            <label>{{cleaningPrices.standardCleaningPrices.standardServiceBedroom}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span>Bathroom Price:</span>
                        </div>
                        <div class="col-8">
                            <label>{{cleaningPrices.standardCleaningPrices.standardServiceBathroom}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span>Kitchen Price:</span>
                        </div>
                        <div class="col-8">
                            <label>{{cleaningPrices.standardCleaningPrices.standardServiceKitchen}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button class="modify" pButton type="button" label="Modify" (click)="modifyPrices('Standard')"></button>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row section">
                <div class="col-9">
                    <b>Deep Cleaning Prices</b>
                    <div class="row">
                        <div class="col-4">
                            <span>Service Price:</span>
                        </div>
                        <div class="col-8">
                            <label>{{cleaningPrices.deepCleaningPrices.deepServicePrice}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span>Bedroom Price:</span>
                        </div>
                        <div class="col-8">
                            <label>{{cleaningPrices.deepCleaningPrices.deepServiceBedroom}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span>Bathroom Price:</span>
                        </div>
                        <div class="col-8">
                            <label>{{cleaningPrices.deepCleaningPrices.deepServiceBathroom}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span>Kitchen Price:</span>
                        </div>
                        <div class="col-8">
                            <label>{{cleaningPrices.deepCleaningPrices.deepServiceKitchen}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button class="modify" pButton type="button" label="Modify" (click)="modifyPrices('Deep')"></button>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row section">
                <div class="col-9">
                    <b>Post Construction Cleaning Prices</b>
                    <div class="row">
                        <div class="col-4">
                            <span>Service Price:</span>
                        </div>
                        <div class="col-8">
                            <label>{{cleaningPrices.postConstructionCleaningPrices.postConstructionServicePrice}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span>Room Price:</span>
                        </div>
                        <div class="col-8">
                            <label>{{cleaningPrices.postConstructionCleaningPrices.roomPrice}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button class="modify" pButton type="button" label="Modify" (click)="modifyPrices('Post Construction')"></button>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row section">
                <div class="col-9">
                    <b>Disinfection Cleaning Prices</b>
                    <div class="row">
                        <div class="col-4">
                            <span>Service Price:</span>
                        </div>
                        <div class="col-8">
                            <label>{{cleaningPrices.disinfectionCleaningPrices.disinfectionServicePrice}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button class="modify" pButton type="button" label="Modify" (click)="modifyPrices('Disinfection')"></button>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row section">
                <div class="col-9">
                    <b>Extra Services Price</b>
                    <div class="row">
                        <div class="col-4">
                            <span>Paid Parking Spot Price:</span>
                        </div>
                        <div class="col-8">
                            <label>{{cleaningPrices.paidParkingSpotPrice}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span>Pick Up Keys Price:</span>
                        </div>
                        <div class="col-8">
                            <label>{{cleaningPrices.pickUpKeysPrice}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button class="modify" pButton type="button" label="Modify" (click)="modifyExtraServicesPrice()"></button>
                </div>
            </div>
        </div>
    </div>
    <button class="save-button" pButton type="button" label="Save" (click)="onSave()"></button>
</div>

<p-toast></p-toast>