
<div class="container p-4">
    <h4 style="text-align: center;">Quote Requests For Office Cleaning</h4>

    <p-table [value]="quoteRequests" [paginator]="true" [rows]="10" responsiveLayout="scroll"
    [rowsPerPageOptions]="[10,25,50]" selectionMode="single" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header">
        <tr>
            <th>Primary Use</th>
            <th>Square meters</th>
            <th>Frequency</th>
            <th>Persons</th>
            <th>County</th>
            <th>City</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
        <tr [pSelectableRow]="request" style="cursor: pointer;">
            <td>{{request.spaceDetails.primaryUseOfSpace}}</td>
            <td>{{request.spaceDetails.totalSquareMeters}}</td>
            <td>{{request.spaceDetails.frequencyOfCleaning}}</td>
            <td>{{request.spaceDetails.numberOfPersons}}</td>
            <td>{{request.location.county}}</td>
            <td>{{request.location.city}}</td>
            <td><span [ngClass]="{'sent': request.status === 'Sent', 'not-sent': request.status === 'Not Sent'}">{{request.status}}</span></td>
        </tr>
    </ng-template>
</p-table>
</div>

