:host ::ng-deep .p-datatable .p-paginator-bottom {
    border-width: 0;
}

:host ::ng-deep .p-paginator {
    margin-top: 15px;
    justify-content: end;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    border: none;
    border-width: 0;
    padding: 1rem 2rem;
}

:host ::ng-deep .p-button {
    padding: 0.1rem 1.25rem;
}

.table {
    padding: 10px 30px;
}