<div class="container p-4">
    <h3 style="text-align: center;">My Orders</h3>
    <div class="table mt-4">
        <h5>Cleaning Services History</h5>
        <p-table [value]="cleaningServices" [paginator]="cleaningServices.length > 10 ? true : false" [rows]="10" responsiveLayout="scroll"
        [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="body" let-cleaningService>
                <tr>
                    <td>{{cleaningService.type}}</td>
                    <td>{{cleaningService.total}} $</td>
                    <td>{{cleaningService.cleaningDate.cleaningDate}}</td>
                    <td>{{cleaningService.cleaningDate.cleaningHour}}</td>
                    <td><button pButton type="button" label="Details" (click)="toCleaningService(cleaningService.id)"></button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-toast></p-toast>