<p-panel [toggleable]="false" class="no-borders">
    <ng-template pTemplate="content">
        <ng-container [formGroup]="appointmentForm">
            <div>
                <div class="row mt-2">
                    <div class="col-6 p-3 controls">
                        <p-calendar
                            formControlName="cleaningDate"
                            [showIcon]="true"
                            [minDate]="minimumDate"
                            [disabledDays]="[0,6]" 
                            [readonlyInput]="true"
                            dateFormat="yy-mm-dd"
                            dataType="string"
                            (onSelect)="selectDate($event)">
                        </p-calendar>
                        <small class="p-error"
                            *ngIf="(appointmentForm.get('cleaningDate')?.touched && 
                                    appointmentForm.get('cleaningDate')?.errors?.required) ||
                                    appointmentForm.get('cleaningDate').hasError('missing')"
                            >The field is required</small>
                    </div>

                    <div class="col-6 p-3 controls">
                        <p-dropdown 
                            [options]="employeeAvailableIntervals" 
                            optionLabel="interval"
                            placeholder="Select an available hour"
                            [showClear]="true"
                            formControlName="interval">
                        </p-dropdown>
                        <small class="p-error" 
                        *ngIf="(appointmentForm.get('interval')?.touched && 
                                appointmentForm.get('interval')?.errors?.required) ||
                                appointmentForm.get('interval').hasError('missing')"
                        >The field is required</small>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-template>
</p-panel>
