<p-panel [toggleable]="false" class="no-borders">
    <ng-template pTemplate="header">
        <h2>Cleaning Details</h2>
    </ng-template>
    <ng-template pTemplate="content">
        <ng-container [formGroup]="standardCleaningForm">
            <div formGroupName="cleaning_details">
                <div class="row mt-2">
                    <div class="col-6 p-3 controls">
                        <label class="label-title">Bedrooms<span class="required-star">*</span></label>
                    </div>
                    <div class="col-6 p-3 controls">
                        <p-dropdown 
                            [options]="bedrooms" 
                            optionLabel="label"
                            placeholder="Select number of bedrooms"
                            [showClear]="true"
                            formControlName="bedrooms">
                        </p-dropdown>
                        <small class="p-error" 
                        *ngIf="(standardCleaningForm.get('cleaning_details').get('bedrooms')?.touched && 
                                standardCleaningForm.get('cleaning_details').get('bedrooms')?.errors?.required) ||
                                standardCleaningForm.get('cleaning_details').get('bedrooms').hasError('missing')"
                        >The field is required</small>
                    </div>
    
                    <div class="col-6 p-3 controls">
                        <label class="label-title">Bathrooms<span class="required-star">*</span></label>
                    </div>
                    <div class="col-6 p-3 controls">
                        <p-dropdown 
                            [options]="bathrooms" 
                            optionLabel="label"
                            placeholder="Select number of bathrooms"
                            [showClear]="true"
                            formControlName="bathrooms">
                        </p-dropdown>
                        <small class="p-error" 
                        *ngIf="(standardCleaningForm.get('cleaning_details').get('bathrooms')?.touched && 
                                standardCleaningForm.get('cleaning_details').get('bathrooms')?.errors?.required) ||
                                standardCleaningForm.get('cleaning_details').get('bathrooms').hasError('missing')"
                        >The field is required</small>
                    </div>
    
                    <div class="col-6 p-3 controls">
                        <label class="label-title">Kitchens<span class="required-star">*</span></label>
                    </div>
                    <div class="col-6 p-3 controls">
                        <p-dropdown 
                            [options]="kitchens" 
                            optionLabel="label"
                            placeholder="Select number of kitchens"
                            [showClear]="true"
                            formControlName="kitchens">
                        </p-dropdown>
                        <small class="p-error" 
                        *ngIf="(standardCleaningForm.get('cleaning_details').get('kitchens')?.touched && 
                                standardCleaningForm.get('cleaning_details').get('kitchens')?.errors?.required) ||
                                standardCleaningForm.get('cleaning_details').get('kitchens').hasError('missing')"
                        >The field is required</small>
                    </div>
    
                    <div class="col-6 p-3 controls">
                        <label class="label-title">Total Square Meters<span class="required-star">*</span></label>
                    </div>
                    <div class="col-6 p-3 controls">
                        <p-dropdown 
                            [options]="squareMeters" 
                            optionLabel="label"
                            placeholder="Select total square meters"
                            [showClear]="true"
                            formControlName="squareMeters">
                        </p-dropdown>
                        <small class="p-error" 
                        *ngIf="(standardCleaningForm.get('cleaning_details').get('squareMeters')?.touched && 
                                standardCleaningForm.get('cleaning_details').get('squareMeters')?.errors?.required) ||
                                standardCleaningForm.get('cleaning_details').get('squareMeters').hasError('missing')"
                        >The field is required</small>
                    </div>
    
                    <div class="col-6 p-3 controls">
                        <label class="label-title">Parking<span class="required-star">*</span></label>
                    </div>
                    <div class="col-6 p-3 controls">
                        <p-selectButton
                        [options]="parking" 
                        optionLabel="label" 
                        formControlName="parking"></p-selectButton>
                        <small class="p-error" 
                        *ngIf="(standardCleaningForm.get('cleaning_details').get('parking')?.touched && 
                                standardCleaningForm.get('cleaning_details').get('parking')?.errors?.required) ||
                                standardCleaningForm.get('cleaning_details').get('parking').hasError('missing')"
                        >The field is required</small>
                    </div>
    
                    <div class="col-6 p-3 controls">
                        <label class="label-title">How to access the home?<span class="required-star">*</span></label>
                    </div>
                    <div class="col-6 p-3 controls">
                        <p-dropdown 
                            [options]="homeAccess" 
                            optionLabel="label"
                            placeholder="Select home access way"
                            [showClear]="true"
                            formControlName="homeAccess">
                        </p-dropdown>
                        <small class="p-error" 
                        *ngIf="(standardCleaningForm.get('cleaning_details').get('homeAccess')?.touched && 
                                standardCleaningForm.get('cleaning_details').get('homeAccess')?.errors?.required) ||
                                standardCleaningForm.get('cleaning_details').get('homeAccess').hasError('missing')"
                        >The field is required</small>
                    </div>
    
                    <div class="col-12 p-3">
                        <p-divider></p-divider>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-template>
</p-panel>   