:host ::ng-deep .no-borders {
    .p-panel .p-panel-content {
        padding: 0;
        border: none;
    }

    .p-panel .p-panel-header {
        padding: 0;
        background: #ffffff;
        border: none;
    }
}

.controls {
    display: grid;
    padding: 10px;
}

:host ::ng-deep .p-button{
    background: white;
    width: 50%;
}

:host ::ng-deep .p-dropdown {
    width: 100%;
}

.label-title {
    font-size: 20px;
    color: #4c4e50;
}

h2 {
    font-size: 20px;
    color: #65686a;
}

.required-star {
    color:red;
}

.required-err-message {
    color: red;
    contain: size;
}

span {
    font-size: 15px;
}