<p-image class="home-image" src="assets/images/home-image.jpg" alt="Image" height="400"></p-image>

<div class="container mb-3">
    <div class="dirty-work text-center">
        <h1 class="mb-4">Let us do the dirty work</h1>
        <div style="margin: 0px 230px;">
            <span>
                We provide a complete range of professional cleaning services including bathroom, bedroom, kitchen, as well as special house cleaning services.
            </span>
        </div>
    </div>

    <div class="services">
        <div class="child">
            <p-image src="assets/images/standard.jpg" alt="Image" width="300" height="200"></p-image>
            <h2 class="mt-3 mb-4">Standard Cleaning</h2>
            <span>
                Nevoile casnice nu țin cont de programul tău încărcat. Lasă spălarea și curățarea în grija noastră. Noi ne asigurăm că poți purta articolul de îmbrăcăminte dorit exact atunci când ai nevoie, fără întârziere.
            </span>
            <div class="mt-4">
                <a [routerLink]="['/services']" [queryParams]="{type: 'standard-cleaning'}">Find more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="child">
            <p-image src="assets/images/deep.jpg" alt="Image" width="300" height="200"></p-image>
            <h2 class="mt-3 mb-4">Deep Cleaning</h2>
            <span>
                Nevoile casnice nu țin cont de programul tău încărcat. Lasă spălarea și curățarea în grija noastră. Noi ne asigurăm că poți purta articolul de îmbrăcăminte dorit exact atunci când ai nevoie, fără întârziere.
            </span>
            <div class="mt-4">
                <a [routerLink]="['/services']" [queryParams]="{type: 'deep-cleaning'}">Find more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="child">
            <p-image src="assets/images/disinfection.jpeg" alt="Image" width="300" height="200"></p-image>
            <h2 class="mt-3 mb-4">Disinfection Cleaning</h2>
            <span>
                Nevoile casnice nu țin cont de programul tău încărcat. Lasă spălarea și curățarea în grija noastră. Noi ne asigurăm că poți purta articolul de îmbrăcăminte dorit exact atunci când ai nevoie, fără întârziere.
            </span>
            <div class="mt-4">
                <a [routerLink]="['/services']" [queryParams]="{type: 'disinfection-cleaning'}">Find more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="child">
            <p-image src="assets/images/post.jpg" alt="Image" width="300" height="200"></p-image>
            <h2 class="mt-3 mb-4">Post Construction Cleaning</h2>
            <span>
                Nevoile casnice nu țin cont de programul tău încărcat. Lasă spălarea și curățarea în grija noastră. Noi ne asigurăm că poți purta articolul de îmbrăcăminte dorit exact atunci când ai nevoie, fără întârziere.
            </span>
            <div class="mt-4">
                <a [routerLink]="['/services']" [queryParams]="{type: 'post-construction-cleaning'}">Find more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
