<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="row">
            <div class="col-12">
                <label class="label">Old password<span class="required-star">*</span></label>
                <p-password class="pass" placeholder="Enter old password" formControlName="password" [toggleMask]="showEye" [feedback]="false" (onFocus)="onFocus()"></p-password>
                <small class="p-error" 
                *ngIf="(form.get('password')?.touched && 
                        form.get('password')?.errors?.['required']) ||
                        form.get('password')?.hasError('missing')"
                >The field is required</small>
                <small class="p-error" *ngIf="(form.get('password')?.hasError('invalid'))">Invalid password</small>
            </div>
            <div class="col-12">
                <label class="label">New password<span class="required-star">*</span></label>
                <p-password class="pass" placeholder="Enter new password" formControlName="newPassword" [toggleMask]="showEye" [feedback]="false" (onFocus)="onFocus()"></p-password>
                <small class="p-error" 
                *ngIf="(form.get('newPassword')?.touched && 
                        form.get('newPassword')?.errors?.['required']) ||
                        form.get('newPassword')?.hasError('missing')"
                >The field is required</small>
            </div>

            <div class="mt-3">
                <button pButton class="p-button-danger" pRipple type="button" label="Cancel" (click)="onClose()"></button>
                <button pButton class="rightButton" pRipple type="submit" label="Modify"></button>
            </div>
        </div>

    </form>
</div>
