h3{
    padding: 40px;
    text-align: center;
}

:host ::ng-deep .save-button {
    float: right;
    margin-right: 55px;
    padding-left: 35px;
    padding-right: 35px;
}

span {
    font-size: 13px;
    line-height: 1.67;
    letter-spacing: 0.4px;
    color: #a5a5a5;
}