<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="row">
            <div class="col-12">
                <label>Work phone<span class="required-star">*</span></label>
                <p-inputMask placeholder="Work phone" mask="9999 999 999" formControlName=workPhone></p-inputMask>
                <small class="p-error" 
                *ngIf="(form.get('workPhone')?.touched && 
                        form.get('workPhone')?.errors?.['required']) ||
                        form.get('workPhone')?.hasError('missing')"
                >The field is required</small>
            </div>
            <div class="col-12">
                <label class="label">Salary<span class="required-star">*</span></label>
                <input type=number pInputText placeholder="Enter salary" formControlName=salary>
                <small class="p-error" 
                *ngIf="(form.get('salary')?.touched && 
                        form.get('salary')?.errors?.['required']) ||
                        form.get('salary')?.hasError('missing')"
                >The field is required</small>
            </div>
            <div class="col-12">
                <label>Hiring Date<span class="required-star">*</span></label>
                <div class="row m-0">
                    <div class="col-4 day">
                        <p-dropdown 
                            [options]="days" 
                            placeholder="DD"
                            formControlName="day">
                        </p-dropdown>
                        <small class="p-error" 
                        *ngIf="(form.get('day')?.touched && 
                                form.get('day')?.errors?.['required']) ||
                                form.get('day')?.hasError('missing')"
                        >The field is required</small>
                    </div>
                    <div class="col-4 month text-center">
                        <p-dropdown 
                            [options]="months" 
                            placeholder="MM"
                            formControlName="month">
                        </p-dropdown>
                        <small class="p-error" 
                        *ngIf="(form.get('month')?.touched && 
                                form.get('month')?.errors?.['required']) ||
                                form.get('month')?.hasError('missing')"
                        >The field is required</small>
                    </div>
                    <div class="col-4 year align-right">
                        <p-dropdown 
                            [options]="years" 
                            placeholder="YY"
                            formControlName="year">
                        </p-dropdown>
                        <small class="p-error" 
                        *ngIf="(form.get('year')?.touched && 
                                form.get('year')?.errors?.['required']) ||
                                form.get('year')?.hasError('missing')"
                        >The field is required</small>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <small class="p-error" *ngIf="(form.get('day')?.hasError('invalid_date'))">
                    Please enter a valid date
                </small>
            </div>
            <div class="mt-3">
                <button pButton class="p-button-danger" pRipple type="button" label="Cancel" (click)="onClose()"></button>
                <button pButton class="rightButton" pRipple type="submit" label="Modify"></button>
            </div>
        </div>

    </form>
</div>
