h1 {
    text-align: center;
    font-size: 2em;
    color: #4c4e50;
}

.summary {
    max-width: 280px;
    margin-left: 25px;
}

:host ::ng-deep .p-toast-top-right {
    top: 75px !important;
    width: 30%;
}

:host ::ng-deep .p-toast-message.p-toast-message-error {
    border-radius: 20px;
}

:host ::ng-deep .p-toast-message.p-toast-message-success {
    border-radius: 20px;
}

