<div class="container">
    <div class="row">
        <div class="col-6">
            <label>Work Phone</label>
            <b>{{jobInfoDto.workPhone}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>Hiring Date</label>
            <b>{{jobInfoDto.hiringDate}}</b>
        </div>
        <div class="col-6">
            <label>Salary</label>
            <b>{{jobInfoDto.salary}} $</b>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <button pButton class="p-button-danger" pRipple type="button" label="Cancel" (click)="onClose()"></button>
        </div>
    </div>
</div>
