.control {
    padding: 13px;
    display: grid;
}

.label {
    text-align: left;
    padding: 5px;
}

:host ::ng-deep .p-password{
    width: 100%;
}

:host ::ng-deep .p-inputtext{
    width: 100%;
}

h3 {
    margin-bottom: 20px;
    font-weight: 700;
}


.required-star {
    color:red;
}

.required-err-message {
    color: red;
    contain: size;
    text-align: left;
}