.controls {
    display: grid;
    padding: 10px;
}

:host ::ng-deep .no-borders {
    .p-panel .p-panel-content {
        padding: 0;
        border: none;
    }

    .p-panel .p-panel-header {
        padding: 0;
        background: #ffffff;
        border: none;
    }
}

:host ::ng-deep .p-button{
    background: white;
    width: 20%;
}

.paymentMethod {
    text-align: center; 
    margin-top: 20px;
}

:host ::ng-deep .p-inputmask {
    min-width: -webkit-fill-available;
    width: 100%;
}

:host ::ng-deep .cardDetails .p-inputtext {
    text-align: center;
}

h2 {
    font-size: 20px;
    color: #65686a;
}